<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agility Help</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="align-center p-2">
        <h1 class="text-center">
          <a href="/">Agility Help</a>
        </h1>
      </header>
      <nav class="flex-row justify-space-around">
        <!-- Home -->
        <a href="/">home</a>

        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
          <button class="no-button" id="logout">logout</button>
        {{else}}
          <a href="/login">login</a>
        {{/if}}

        <!-- Dashboard -->
        <a href="/dashboard">dashboard</a>
      </nav>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>